<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}
        <title> HHU Algorithm Contest </title>
    {% endblock %}

    {% block reference %}
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <script type="text/javascript" src='/static/js/jquery.min.js'></script>
    {% endblock %}
    
  </head>

  <body>
    
  </body>

</html>