<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Status </title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script type="text/javascript" src='/static/js/jquery.min.js'></script>
  </head>

  <body>
    <h2 style="margin-left:100px"> Welcome to HHU Algorithm Group !</h2>

    <div class = 'nav navbar-nav' style="margin-left:100px">
  		<li> <a href="/"> Home </a> </li>
  		<li> <a href="/oj/problemlist"> ProblemList</a> </li>
  		<li> <a href="/oj/status"> Status </a> </li>
  		<li> <a href="/oj/ranklist"> RankList </a></li>
      <li> <a href="/oj/standings"> Standings </a></li>
      <li> <a href="/oj/contest"> Contest </a> </li>
      <li> <a href="/oj/discuss"> Discuss </a></li>
      <li> <a href="/oj/topic"> FAQ </a></li>
  	</div>

    <div style="clear:both"></div>
    
    <div id ='status' style="margin:20px 130px 0 20px">
      <table style="margin:20px 0 0 60px; width:100%">
        <tr>
          <td style="width:10%"> RunID </td>
          <td style="width:10%"> User </td>
          <td style="width:10%"> Problem </td>
          <td style="width:15%"> Verdict </td>
          <td style="width:10%">  Time </td>
          <td style="width:10%"> Memory </td>
          <td style="width:10%"> Lang </td>
          <td style="width:10%"> Length </td>
          <td style="width:15%"> Submit Time </td>              
        </tr>

        {% for s in status %}
         <tr style="height:50px">
          <td style="width:10%"> {{s.id}} </td>
          <td style="width:10%"> {{s.submiter}} </td>
          <td style="width:10%"> {{s.problemId}} </td>
          <td style="width:15%"> Pending </td>
          <td style="width:10%">  {{s.cost_time}} </td>
          <td style="width:10%"> {{s.cost_memory}} </td>
          <td style="width:10%"> {{s.language}} </td>
          <td style="width:10%"> {{s.code_length}} </td>
          <td style="width:15%"> {{s.submit_time}}</td>              
        </tr>
        {% endfor %}
      </table>
    </div>


  </body>
</html>